<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootwebsocketredis.dao.UserDao">
    <select id="findAllUser" resultType="com.example.springbootwebsocketredis.entity.User">
        SELECT * FROM USER
    </select>

    <insert id="insertUser" parameterType="com.example.springbootwebsocketredis.entity.User">
        insert into User(username,status) values (#{user.username},#{user.status})
    </insert>

    <update id="updateOfflineTimeUser" parameterType="com.example.springbootwebsocketredis.entity.User">
        update User set time = #{user.last_offline_time} where username= #{user.username}
    </update>

    <update id="updateOnlineTimeUser" parameterType="com.example.springbootwebsocketredis.entity.User">
        update User set time = #{user.last_online_time} where username= #{user.username}
    </update>

    <select id="findUserByUsername" parameterType="string" resultType="com.example.springbootwebsocketredis.entity.User">
        SELECT * FROM USER WHERE USERNAME = #{username}
    </select>
</mapper>